body {
    display:flex;
    flex-direction:column;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:600px;
    margin-right: 600px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0 1 60px;
    font-size: 24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header-logo {
    margin-left:100px;
    font-family: helvetica;
}

.links-list {
    flex: 0 1 auto;
    display:flex;
    gap: 15px;
    list-style:none;
    margin-right: 100px;
    font-family:Helvetica;
    align-items:flex-start;
    height:auto;
    color: #E5E7EB;
    text-decoration:none;
    font-size:16px;
}

a {
    text-decoration:none;
    color: #E5E7EB;
}
.main {
    flex:1;
    display:flex;
    flex-direction:column;
    
}

.b1 {
    flex: 1.5;
    background-color: #1F2937;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:100px;
    padding-right:100px;

}

.b1text1 {
    font-size:48px;
    color:white;
    font-weight:900;
    margin:5px;
}

.b1text2 {
    Font-size:24px;
    color:white;
    margin-bottom:5px;
}

.b1left {
    width:50%;
    height:75%;
    background-color:#1F2937;
    display:flex;
    flex-direction:column;
}

.button1 {
    height:25px;
    width:100px;
    border: 7px;
    border-radius:5px;
    color:white;
    background-color: #3882F6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    margin-right:100px;
    font-size:12px;  
}

.b1right {
    width:50%;
    height:90%;
    display:flex;
    justify-content:end;
}

.upper-right-image {
    height:215px;
}
.b2 {
    flex: 1;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0px 200px;
    padding-bottom:25px;
}

.b2text {
    font-size:36px;
    padding:20px;
    font: eight 800px;
    color:#1F2937
}
.image-container {
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:content;
    width:100%;

}    
.images {
    height:150px;
    width:150px;
    border-radius:10px;
}
.img-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.rounded-image {
    height:200px;
    width:200px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:10px;
}

.b3 {
    flex: .8;
    background-color: #E5E7EB;
    display:flex;
    padding-left:200px;
    padding-right:200px;
    align-items:center;
}

.testomonial {
    flex:1;
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    
}

.customer {
    display:flex;
    justify-content:end;
    font-weight:900;
}

.b4 {
    flex: .8;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-left:100px;
    padding-right:100px;
}

.sign-up {
    background-color:#3882F6;
    height:50%;
    width:100%;
    border-radius:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    

}

.sign-up-text {
    margin-left: 100px;
    color:white;
    font-family:helvetica;
}

.mini-header {
    font-weight:900;
}
.button {
    height:25px;
    width:100px;
    border: 7px;
    border: solid;
    border-color: white;
    border-radius:5px;
    color:white;
    background-color: #3882F6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right:100px;
    font-size:12px;  
}


.footer {
    background-color:#1F2937;
    flex: 0 1 60px;
    color: #F9FAF8;
    display: flex;
    font-size: 12px;
    font-family: Sans-serif;
    justify-content: center;
    align-items: center;
}